body
{
    background-color: #F2ECDE;
}

#head-null-line {
  border-width: 30px;
  border-style: solid;
  border-color: #F2ECDE;
}

#main {
  border-width: 150px;
  border-style: solid;
  border-color: #F2ECDE;
}

#period {
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  text-align: justify;
  color: #FF4C00;
}

.sign {
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  text-align: right;
  color: #FF4C00;
}

ul.list {
  list-style-type:circle;
  text-align: center;
  font-family: "宋体", Times, serif;
  font-size:30px;
  color: #000000;
  -webkit-writing-mode: vertical-rl;
  display: -webkit-flex; /* Safari */
  -webkit-flex-flow: column-reverse wrap; /* Safari 6.1+ */
  display: flex;
  flex-flow: column-reverse wrap;
}

#sub-title {
  font-family: "宋体", Times, serif;
  font-size:40px;
  color: #000000;
  text-align: center;
  -webkit-writing-mode: vertical-rl;
}

#web-nav-title{
  font-family: "宋体", Times, serif;
  font-size:40px;
  color: #000000;
  text-align:justify;
  -webkit-writing-mode: vertical-rl;
}

#footer {
  border-width: 30px;
  border-style: solid;
  border-color: #F2ECDE;
  font-family: serif, "Times New Roman", Times;
  text-align: center;
}
