<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>中国传统文化网址导航</title>
	<link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/index.css">
	<script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class=".container-fluid">
  <!-- head null line -->
    <div class="row" id="head-null-line">
    </div>

<!-- main title -->
    <div class="row" id="main">

      <!-- 中医 -->
        <div class="col-md-1 col-md-offset-1">
          <div class="row">
            <div class="col-md-12" id="period"><p>。</p>
            </div>
            <div class="col-md-12"><a href="#" id="sub-title"><p>武术</p></a>
            </div>
          </div>
        </div>


      <!-- 中医 -->
        <div class="col-md-1">
          <div class="row">
            <div class="col-md-12" id="period"><p>。</p>
            </div>
            <div class="col-md-12"><a href="#" id="sub-title"><p>书画</p></a>
            </div>
          </div>
        </div>

      <!-- 中医 -->
        <div class="col-md-1">
          <div class="row">
            <div class="col-md-12" id="period"><p>。</p>
            </div>
            <div class="col-md-12"><a href="#" id="sub-title"><p>中医</p></a>
            </div>
          </div>
        </div>

        <!-- 释 -->
        <div class="col-md-1">
          <div class="row">
            <div class="col-md-12" id="period"><p>。</p>
            </div>
            <div class="col-md-12"><a href="#" id="sub-title"><p>释</p></a>
            </div>
          </div>
        </div>
        <!-- 道 -->
        <div class="col-md-1">
          <div class="row">
            <div class="col-md-12" id="period"><p>。</p>
            </div>
            <div class="col-md-12"><a href="#" id="sub-title"><p>道</p></a>
            </div>
          </div>
        </div>
        <!-- 儒 -->
        <div class="col-md-1">
          <div class="row">
            <div class="col-md-12" id="period"><p>。</p>
            </div>
            <div class="col-md-12"><a href="#" id="sub-title"><p>儒</p></a>
            </div>
          </div>
        </div>

      <div class="col-md-2 col-md-offset-3">
      <a href="#" id="web-nav-title">中国传统文化网址导航</a>
      </div>

    </div>

<!-- footer -->
    <div class="row" id="footer">
      <address>
        <strong>Duqi@Copyright</strong><br>
        <abbr title="Phone">Email:</abbr> yuechaoshiwo@163.com
      </address>
    </div>

  </div>
</body>
</html>
